/*--------------------------------------------------
                  CSS login
---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Bordered form */
body {
  background-color: #323237;
}

.loginBody {
  background-color: #323237;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

#MessageLogin {
  color: red;
}

.carreblanc {
  background-color: #e8e8e8;
  width: 40%;
  border-radius: 12px;
  height: auto;
  box-shadow: 20px 20px 60px #2b2b2f,
    -20px -20px 60px #3a3a3f;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unRole{
  display: none;
}
.formlogin input {
  background-color: #e8e8e8;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

/* Set a style for all buttons */
.formlogin button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.formlogin button:hover {
  background-color: #03c47d;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
  ;
}

.centerlogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carreblanc h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(99, 99, 99);
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.carreblanc h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.carreblanc img {
  border-radius: 12px;
  width: 100%;
}

.carreblanc a {
  border-radius: 12px;
  width: 70%;
  margin-bottom: 35px;
  margin-top: 20px;
}

.formlogin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*--------------------------------------------------
                  Fin CSS login
---------------------------------------------------*/
/*--------------------------------------------------
              Début CSS liste entreprises
---------------------------------------------------*/
.iconeModifSupr {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 10px;
}

.iconeModifSupr i {
  width: 45px;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 10px;
}

#iconModifier {
  color: #ffc400;
  font-size: 20px;
}
#iconModifier:hover{
  color: #dba800;
}
#iconSupprimer {
  color: red;
  font-size: 20px;
}
#iconSupprimer:hover{
  color: rgb(207, 0, 0);
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card {
  border-radius: 14px !important;
  box-shadow: 20px 20px 60px #323232,
    -20px -20px 60px #444444;
}

.card h5 {
  font-size: 1.8rem;
}

.bg-danger {
  background-color: transparent !important;
}
#Bloc2{
  margin-top: 90px !important;
}
.divFiltre{
  width: 100%;
  height: 100px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barreRecherche{
  width: 80%;
  height: 80%;
  background-color: #4e4e4e;
  border-radius: 14px;
  display: flex;
  align-items: center;
}
.barreRecherche input[type='text']{
  border-radius: 12px;
  height: 45px;
  margin-left: 20px;
  border: none;
  padding-left: 12px;
  padding-top: 0px;
}
.modale_content a {
  text-decoration: none;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  transition: all .4s;
  backdrop-filter: blur(5px);
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.modal_content {
  border-radius: 14px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #e8e8e8;
  padding: 1.5em 2em;
}
.modal_content .box{
  width: 100%;
  padding: 1rem;
  padding-bottom: 0px;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  margin-bottom: 14px;
  text-transform: none;
  border-radius: 8px;
  background-color: #e8e8e8;
  -webkit-appearance: none;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5,
-6px -6px 12px #ffffff;
box-shadow: 6px 6px 12px #c5c5c5,
-6px -6px 12px #ffffff;
height: 55px;
border: 1.5px solid transparent;
}
.modal_content label{
  font-size: 16px;
  width: 100%;
}
.modal_content h1{
  font-size: 20px;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 15px;
}
.modal_content .btn{
  width: 100%;
  margin-top: 20px;
}
.modal_close {
  position: absolute;
  top: 0px;
  right: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
}
.modal_close:hover{
  text-decoration: none;
}
.mesinfosmodif{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 14px;
}
.inputField{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputField a{
  color: #e8e8e8;
  font-size: 18px;
}
.inputField a:hover{
  text-decoration: none;
}
#linkSuprEntr{
  height: 45px;
  background-color: #e73838;
  border-radius: 12px;
}
#linkSuprEntr:hover{
  background-color: #c22e2e;
  cursor:pointer;
}
#linkAnnulSuprEntr{
  background-color: #323237;
  border-radius: 12px;
}
#linkAnnulSuprEntr:hover{
  background-color: #27272b;
}
/*--------------------------------------------------
              Fin CSS liste entreprises
---------------------------------------------------*/

/*--------------------------------------------------
                  Début CSS Ajout Entreeprise
---------------------------------------------------*/

        .addFormEntBlock{
        background-color: #03c47d;
    }



/*--------------------------------------------------
              Fin CSS Ajout From
---------------------------------------------------*/

/*--------------------------------------------------
                  Début CSS InfosEntreprise
---------------------------------------------------*/

.infoEntrCardBody{
  background-color: #69878a;
  width: 70%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-top: 230px;
  display: flex;
  flex-direction: row;
}
.divGaucheInfos{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.divGaucheInfos h1{
  color: #e8e8e8;
  font-size: 32px;
  margin-top: 40px;
  margin-left: 22px;
}
.divGaucheInfos h2{
  color: #e8e8e8;
  margin-left: 22px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.divGaucheInfos h3{
  color: #e8e8e8;
  font-size: 20px;
  margin-left: 22px;
  margin-bottom: 4px;
}
.divGaucheInfos h4{
  color: #e8e8e8;
  font-size: 20px;
  margin-bottom: 4px;
}
.divDroiteMaps{
  width: 60%;
  height: 100%;
}
iframe{
  width: 100%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.contactEntr{
  margin: 22px;
  height: 100%;
  overflow: auto;
}
.contactUnite{
  margin-bottom: 30px;
}
.formAjoutEnt input {
  background-color: #e8e8e8;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 6px 6px 12px #848484,
    -6px -6px 12px #606060;
}

/* Set a style for all buttons */
.formAjoutEnt button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.formAjoutEnt button:hover {
  background-color: #03c47d;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #999999;
  ;
}

.formAjoutEnt {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
}

.formAjoutEnt {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}