/*--------------------------------------------------
                  CSS login
---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Bordered form */
body {
  background-color: #323237;
}

.loginBody {
  background-color: #323237;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

#MessageLogin {
  color: red;
}

.carreblanc {
  background-color: #e8e8e8;
  width: 40%;
  border-radius: 12px;
  height: auto;
  box-shadow: 20px 20px 60px #2b2b2f,
    -20px -20px 60px #3a3a3f;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formlogin input {
  background-color: #e8e8e8;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

/* Set a style for all buttons */
.formlogin button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.formlogin button:hover {
  background-color: #03c47d;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
  ;
}

.centerlogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carreblanc h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(99, 99, 99);
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.carreblanc h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.carreblanc img {
  border-radius: 12px;
  width: 100%;
}

.carreblanc a {
  border-radius: 12px;
  width: 70%;
  margin-bottom: 35px;
  margin-top: 20px;
}

.formlogin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*--------------------------------------------------
                  Fin CSS login
---------------------------------------------------*/
/*--------------------------------------------------
              Début CSS liste annonces
---------------------------------------------------*/
.iconeModifSupr {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 10px;
}

.iconeModifSupr i {
  width: 45px;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 10px;
}

#iconModifier {
  color: #ffc400;
  font-size: 20px;
}

#iconSupprimer {
  color: red;
  font-size: 20px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card {
  border-radius: 14px !important;
  box-shadow: 20px 20px 60px #323232,
    -20px -20px 60px #444444;
}

.card h5 {
  font-size: 1.8rem;
}

.bg-danger {
  background-color: transparent !important;
}


/*--------------------------------------------------
              Fin CSS liste annonces
---------------------------------------------------*/

/*--------------------------------------------------
                  Début CSS Ajout Entreeprise
---------------------------------------------------*/

.formAjoutEnt input {
  background-color: #e8e8e8;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 6px 6px 12px #848484,
    -6px -6px 12px #606060;
}

/* Set a style for all buttons */
.formAjoutEnt button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.formAjoutEnt button:hover {
  background-color: #03c47d;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #999999;
  ;
}

.formAjoutEnt {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
}

.formAjoutEnt {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}