{% extends 'base.html.twig' %}

{% block title %}Ajout entreprise
	<link rel="stylesheet" href="LoginCSS.css">
{% endblock %}

{% block content %}
{% set Role = app.session.get('Role') %}
{% if ( Role.UTI_ROLE == 1 ) %}
	<div class="row">
		<div class="col-sm-10 mt-4 rounded-sm">
			<div class="card" style="background-color: #323237;">
		    	<div class="card-header">
				    <h1>Ajouter un tuteur</h1>
			    </div>
			    <div class="card-body">
				    <form method='POST' class="">
				    	{{ form(AjoutPersonneForm, {'attr' : {'class' : 'formAjoutEnt'} }) }}
						
				    </form>
	    	    </div>
		    </div>
        </div>
	</div>
{% else %}
    <h1> Vous n'avez pas les droits pour accéder à cette page. </h1>
{% endif %}
{% endblock %}
