{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block content %}
    <div>
        <h1>Ajout d'une entreprise</h1>
        <form methode="POST">
            {{form(AjoutEntrepriseForm)}}
        </form>
    </div>
    
    
{% endblock %}