{% extends 'base.html.twig' %}

{% block title %}Ajout entreprise{% endblock %}

{% block content %}

    <div class="bg-danger" >
        <form method='POST'>
            {{form(entrepriseForm)}}
        </form>
    </div>

{% endblock %}