{% extends 'base.html.twig' %}

{% block title %}Ajout entreprise
<link rel="stylesheet" href="LoginCSS.css">
{% endblock %}

{% block content %}
{% set Role = app.session.get('Role') %}
{% if ( Role.UTI_ROLE == 1) %}

	<div class="row">
		<div class="col-sm-10 rounded-sm">
			<div class="card" style="background-color: #323237;">
				<div class="card-header">
					<h1>Ajouter un utilisateur </h1>
				</div>
			<div class="card-body">
                <form method='POST' class="ajoutUtil">
                    {{ form(ajoutUserForm, {'attr' : {'class' : 'formAjoutEnt'} }) }}
                </form>
                
                
		    </div>
		</div>
{% endif %}
{% set Role = app.session.get('Role') %}


{% endblock %}