{% extends 'base.html.twig' %}

{% block content %}

 
        {% for ENTREPRISE in listeEntreprises %}

            <h1> {{ENTREPRISE.ent_raison_sociale}} </h1>

        {% endfor %}

{% endblock %}
