{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	{% set Role = app.session.get('Role') %}
	{% if ( Role.UTI_ROLE == 1 ) %}
        <div id="userBloc">
            <div>
            
            </div> 
            <div>
                <h3>Ajouter un utilisateur</h3>
            </div>
        </div>
        <table class="table table-striped table-dark" id="userTable">
            {% for UTILISATEUR in listeUtilisateurs %}
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ UTILISATEUR.id }}</th>
                        <td>{{ UTILISATEUR.UTI_Login }}</td>
                        <td>
                            {% if ( UTILISATEUR.UTI_Role == 1 ) %}
                                Admin
                            {% else %}
                                Enseignant
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}   
        </table>    
    {% else %}
<h1>
	Vous n'avez pas les droits pour accéder à cette page.
</h1>{% endif %}{% endblock %}
