<link rel="stylesheet" href="LoginCSS.css">

{% block body %}

<div class="centerlogin">
    <a href="https://www.la-chataigneraie.org/" target="_blanck"><img src="Logo.png"></a>
    
    <h1>Veuillez vous connecter :</h1>
        {{form(loginform)}}
    
</div>

{% endblock %}