<link rel="stylesheet" href="LoginCSS.css">

{% block content %}
<div class="loginBody">

    <div class="centerlogin">
        <div class="carreblanc">
            <a href="https://www.la-chataigneraie.org/" target="_blanck"><img src="LogoNoBackground.png"></a>

            <h1>Gestion des entreprises</h1>
            <h2>Veuillez vous connecter</h2>
            <p id="MessageLogin"> {{FalseLogin}} </p>
            {{form(loginform, {'attr' : {'class' : 'formlogin'} }) }}
        </div>
    </div>
</div>
{% endblock %}